# Ignore all files in data/ but keep the folder structure
data/*

# But do not Ignore files raw, interim, processed, external folders
!data/raw/
!data/processed/
!data/interim/
!dat/external/

# Ignore all files inside these folders
data/raw/*
data/interim/*
data/processed/*
data/external/*

# But do not ignore .gitkeep files
!data/raw/.gitignore
!data/processed/.gitignore
!data/interim/.gitignore
!dat/external/.gitignore

# Track download_data_instructions.md and readme.md
!data/download_data_instructions.md
!data/README.md

# Jupyter Notebook checkpoint files
*.ipynb_checkpoints

#temp files
temp_files/

# Temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.sqlite

# Jupyter Notebook outputs
*.out
*.pyc
*.pyo

# Output or reports
reports/*
figures/*
drafts/*

# PostgreSQL database dumps
*.sql
*.dump

# PostgreSQL log files
*.log

# VSCode-specific files
.vscode/

#macOS-specific system file that stores folder settings
.DS_Store