# Raw and processed data files
data/
data/raw/*
data/processed/*
data/external/*

# Track download_data_instructions.md and readme.md
!data/download_data_instructions.md
!data/README.md

# Jupyter Notebook checkpoint files
*.ipynb_checkpoints

#temp files
temp_files/

# Temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.sqlite

# Jupyter Notebook outputs
*.out
*.pyc
*.pyo

# Output or reports
reports/*
figures/*
drafts/*

# PostgreSQL database dumps
*.sql
*.dump

# PostgreSQL log files
*.log

# VSCode-specific files
.vscode/

#macOS-specific system file that stores folder settings
.DS_Store